{% extends 'posts/base.html' %}

{% block content %}
 <div class="okno">
        <div class="forma-login">
          <h2>Авторизация</h2>
          <form class="" action="index.html" method="post">
            <div class="form-input">
              <label for="">Имя пользователя</label>
              <input type="text" name="" value="" class="form-title">
            </div>
            <div class="form-input">
              <label for="">Пароль</label>
              <input type="password" name="" value="" class="form-title">
            </div>
            <button type="submit" name="button" class="button">Войти</button>


          </form>

          <p>Нет аккаунта?
          <a href="register.html"> Регистрация </a></p>
        </div>
      </div>
{% endblock %}
