{% extends 'posts/base.html' %}

{% block content %}
 <div class="okno">
     <div class="forma-login">
         <h2>Авторизация</h2>
         <form class="" action="{% url 'users:login' %}" method="post">
             {% csrf_token %}
             <div class="form-input">
                 <label for="{{ form.username.id_for_label }}">Имя пользователя</label>
                 {{ form.username }}
             </div>
            <div class="form-input">
                <label for="{{ form.password.id_for_label }}">Пароль</label>
                {{ form.password }}
            </div>
            <button type="submit" name="button" class="button">Войти</button>
         </form>
         <p>Нет аккаунта?
             <a href="{% url 'users:register' %}"> Регистрация </a>
         </p>
    </div>
 </div>
{% endblock %}