{% extends 'posts/base.html' %}

{% block content %}
<div class="okno">
        <div class="profile">
          <form class="" action="index.html" method="post">
            <div class="profile-img">
              <img src="static/img/user.png" width="200" alt="">
              <div class="form-input">
                <label for="">Изображение</label>
                <input type="file" name="" value="" class="form-title">
              </div>
            </div>

            <div class="form-input">
              <label for="">Имя</label>
              <input type="text" name="" value="" class="form-title">
            </div>
            <div class="form-input">
              <label for="">Фамилия</label>
              <input type="text" name="" value="" class="form-title">
            </div>
            <div class="form-input">
              <label for="">Имя пользователя</label>
              <input type="text" name="" value="" class="form-title" disabled>
            </div>
            <div class="form-input">
              <label for="">Почта</label>
              <input type="email" name="" value="" class="form-title" disabled>
            </div>
            <button type="submit" name="button" class="button">Сохранить</button>



        </div>

      </div>
{% endblock %}

