<!DOCTYPE html>
{% load static %}
<html lang="rus" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static 'css/style1.css' %}">
    <link rel="stylesheet" href="{% static 'css/setting_css.css' %}">

    <link rel="icon" type='img/png' href="{% static 'img/logotipe.png' %}">
    <title>{{ title }}</title>
  </head>
  <body>

    <div class="container">
      <div class="header">
        <div class="header-menu okno">
          <a href="base.html" class="logo">
            <img src="{% static '/img/logotipe.png' %}"  width="40" alt="">
          </a>

          <div class="menu">
            <a href="all_blogs.html"> Все посты </a>

            {% if user.is_authenticated %}
            <a href="posts_user.html">Мои посты</a>
            <a href="{% url 'posts:create' %}">
              <img src="{% static 'img/icons/blog.png' %}" alt="Написать пост"  width="30" height="30">
            </a>
            <div class="portfile">
              <img src="{% static 'img/icons/user.png' %}" width="30" height="30" alt="Профиль">
              <ul class='menu-portfile'>
                <li> <a href="{% url 'users:profile' user.id %}">Профиль</a></li>
                {% if user.is_superuser or user.is_staff %}
                <li><a href="{% url 'admin:index' %}"> Админ-панель </a></li>
                {% endif %}
                <li><a href="{% url 'users:logout' %}"> Выйти </a></li>
              </ul>
            </div>
            {% else %}
            <a href="{% url 'users:login' %}"> Войти </a>
            {% endif %}
          </div>
        </div>
      </div>
    </div>

    <div class="container">
     {% block content %} {% endblock %}
    </div>


  </body>
</html>