{% extends 'posts/base.html' %}

{% block content %}
<div class="okno">
  <div class="profile-img prof-img-small">
    <img src="static/img/photo.jpg" width="30" height="30" alt="">
  </div>
  <h3>Username</h3>
  <div class="all-posts">
    <div class="post-card">
      <a href="post.html"><h2>Заголовок</h2></a>

      <h4>username</h4>
      <h4>20.11.2001</h4>
      <p>немножко текста что бы было понятно о чем речь. как то
      вот так вот и сюда чучуть напишу.немножко текста что бы было понятно о чем речь. как то
      вот так вот и сюда чучуть напишу.немножко текста что бы было понятно о чем речь. как то
      вот так вот и сюда чучуть напишу.немножко текста что бы было понятно о чем речь. как то
      вот так вот и сюда чучуть напишу</p>
      <h3><a href="#">Читать дальше</a></h3>
      <a href="#" class="end">Изменить</a>
      <a href="#" class="end">Удалиить</a>
    </div>
    <div class="post-card">
      <h2><a href="#">Заголовок</a></h2>
      <h4>username</h4>
      <h4>20.11.2001</h4>
      <p>немножко текста что бы было понятно о чем речь. как то
      вот так вот и сюда чучуть напишу.немножко текста что бы было понятно о чем речь. как то
      вот так вот и сюда чучуть напишу.немножко текста что бы было понятно о чем речь. как то
      вот так вот и сюда чучуть напишу.немножко текста что бы было понятно о чем речь. как то
      вот так вот и сюда чучуть напишу</p>
      <h3><a href="#">Читать дальше</a></h3>
      <a href="#" class="end">Изменить</a>
      <a href="#" class="end">Удалиить</a>
    </div>
    <div class="post-card">
      <h2>Заголовок</h2>
      <h4><a href="#">username</a></h4>
      <h4>20.11.2001</h4>
      <p>немножко текста что бы было понятно о чем речь. как то
      вот так вот и сюда чучуть напишу.немножко текста что бы было понятно о чем речь. как то
      вот так вот и сюда чучуть напишу.немножко текста что бы было понятно о чем речь. как то
      вот так вот и сюда чучуть напишу.немножко текста что бы было понятно о чем речь. как то
      вот так вот и сюда чучуть напишу</p>
      <h3><a href="#">Читать дальше</a></h3>
    </div>
    <div class="post-card">
      <h2>Заголовок</h2>
      <h4><a href="#">username</a></h4>
      <h4>20.11.2001</h4>
      <p>немножко текста что бы было понятно о чем речь. как то
      вот так вот и сюда чучуть напишу.немножко текста что бы было понятно о чем речь. как то
      вот так вот и сюда чучуть напишу.немножко текста что бы было понятно о чем речь. как то
      вот так вот и сюда чучуть напишу.немножко текста что бы было понятно о чем речь. как то
      вот так вот и сюда чучуть напишу</p>
      <h3><a href="#">Читать дальше</a></h3>
      <a href="#">Изменить</a>
      <a href="#">Удалиить</a>
    </div>

    <div class="pagination">
      <ul>
        <li><a href="#">Назад</a></li>
        <li><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">Вперед</a></li>
      </ul>
    </div>
  </div>

</div>
{% endblock %}